<!DOCTYPE html>
<html>
<head>
    <title>Dettaglio Scheda Allenamento</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>

<h1>Scheda Allenamento</h1>

<div>
    <p>Utente:<span th:text="${scheda.user.nome + ' ' + scheda.user.cognome}"></span></p>
    <p>Personal Trainer:
        <span th:text="${scheda.pt != null ? scheda.pt.nome + ' ' + scheda.pt.cognome : 'Nessuno'}"></span>
    </p>
    <p>Obiettivo:<span th:text="${scheda.obiettivo}"></span></p>
    <p>Data Inizio:<span th:text="${scheda.dataInizio}"></span></p>
    <p>Data Fine:<span th:text="${scheda.dataFine}"></span></p>
    <p>Note:<span th:text="${scheda.note != null ? scheda.note : '-'}"></span></p>
</div>
<a th:href="@{'/admin/schede/' + ${scheda.id} + '/edit'}">Modifica scheda</a>
<h2>Esercizi</h2>
<div th:if="${#lists.isEmpty(scheda.eserciziScheda)}">
    <p>Nessun esercizio</p>
</div>
<table border="1" th:if="${!#lists.isEmpty(scheda.eserciziScheda)}">
    <thead>
        <tr>
            <th>Esercizio</th>
            <th>Serie</th>
            <th>Ripetizioni</th>
            <th>recuperoSec</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="esScheda : ${scheda.eserciziScheda}">
            <td th:text="${esScheda.esercizio.nome}"></td>
            <td th:text="${esScheda.serie}"></td>
            <td th:text="${esScheda.ripetizioni}"></td>
            <td th:text="${esScheda.recuperoSec}"></td>
            <td>
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                  <form th:action="@{'/admin/schede/' +  ${scheda.id} + '/esercizi/' + ${esScheda.id} + '/delete'}" method="POST" >
                    <button type="submit">Elimina</button>
                  </form>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a th:href="@{'/admin/schede/' + ${scheda.id} + '/esercizi/add'}">Aggiungi esercizi</a>


<br>
<a th:href="@{/admin/schede}">Torna alla lista</a>

</body>
</html>