<!DOCTYPE html>
<html>

<head>
        <title>HomePage</title>
        <link rel="stylesheet" th:href="@{/css/stile.css}" />

</head>

<body>
        <h1>Home</h1>

        <h2>
                <a th:href="@{'/corsi'}">I nostri corsi</a>
        </h2>

        <h2>
                <a th:href="@{'/tipi_abbonamenti'}">Gli abbonamenti che offriamo</a>
        </h2>


        <h2>
                <a href="/login">Effettua il Login</a>
        </h2>

        <h2>
                <a href="/register">Registrati</a>
        </h2>

        <!--
        <form th:action="@{/logout}" method="POST">
                <button type="submit">Logout</button>
        </form>
        -->
</body>

</html>