<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
        <link rel="stylesheet" th:href="@{/stile.css}" />   
        
</head>
<body>
        <h1>Home</h1>
        <!--
        <h1>Lista Tornei</h1>
        <a href="/tornei">Lista tornei</a>

        <h2>Effettua il LogIn</h2>
        <a href="/login">LogIn</a>

        <h2>Registrazione</h2>
        <a href="/register">Registrati</a>

        <form th:action="@{/logout}" method="POST">
                <button type="submit">Logout</button>
        </form>-->
	
</body>
</html>