<!DOCTYPE html>
<html>

<head>
        <title>HomePage</title>
        <link rel="stylesheet" th:href="@{/css/stile.css}" />
        <span th:if="${userDetails != null}">
                Sei loggato come: <b th:text="${userDetails.username}"></b>
        </span>
        <span th:if="${userDetails == null}">
                Non sei loggato
        </span>
        <header>
		<div th:if="${userDetails}">
			<!--<span th:text="${userDetails.username}"></span>-->
			<form th:action="@{/logout}" method="POST" style="display:inline;">
				<button type="submit">Logout</button>
			</form>
	</header>
</head>

<body>
        <h1>Home</h1>

        <h2>
                <a th:href="@{'/corsi'}">I nostri corsi</a>
        </h2>

        <h2>
                <a th:href="@{'/tipi_abbonamenti'}">Gli abbonamenti che offriamo</a>
        </h2>


        <h2>
                <a href="/login">Effettua il Login</a>
        </h2>

        <h2>
                <a href="/register">Registrati</a>
        </h2>

        <h2>
                <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
                        <a th:href="@{'/utente/profilo'}">User</a>
                </div>
        </h2>

        
</body>

</html>