<!DOCTYPE html>
<html>
<head>
    <title>Le mie schede</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>

<h1>Schede di allenamento</h1>

<div th:if="${#lists.isEmpty(schede)}">
    <p>Non hai nessuna scheda</p>
</div>

<div th:each="scheda : ${schede}">

    <hr>

    


    <p>
        <strong>Obbiettivo:</strong>
        <span th:text="${scheda.obiettivo}"></span>
    </p>

    <p>
        <strong>Data inizio:</strong>
        <span th:text="${scheda.dataInizio}"></span>
    </p>

    <p>
        <strong>Data fine:</strong>
        <span th:text="${scheda.dataFine}"></span>
    </p>

    <p>
        <strong>Note:</strong>
        <span th:text="${scheda.note}"></span>
    </p>

    <!-- ===================== -->
    <!-- ESERCIZI              -->
    <!-- ===================== -->

    <h3>Esercizi</h3>

    <table border="1">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Serie</th>
            <th>Ripetizioni</th>
            <th>Recupero (sec)</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="esScheda : ${scheda.eserciziScheda}">  <!--eserciziScheda dall'entity schedaAllenamento-->
            <td th:text="${esScheda.esercizio.nome}"></td>
            <td th:text="${esScheda.serie}"></td>
            <td th:text="${esScheda.ripetizioni}"></td>
            <td th:text="${esScheda.recuperoSec}"></td>
        </tr>
        </tbody>
    </table>

    

</div>

</body>
</html>