<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Prenota corsi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <h1>Corsi disponibili</h1>

    <div th:each="c : ${corsi}">

        <h3 th:text="${c.nome}"></h3>

        <p>
            Posti rimasti:
            <span th:text="${c.capacita - c.prenotazioni.size()}"></span>
        </p>

        <div th:if="${corsiPrenotatiIds != null && #sets.contains(corsiPrenotatiIds, c.id)}">
            <button type="button" disabled style="background-color: #ccc; cursor: not-allowed;">Già prenotato</button>
        </div>

        <div th:unless="${corsiPrenotatiIds != null && #sets.contains(corsiPrenotatiIds, c.id)}">
            <form th:action="@{'/utente/prenota/' + ${c.id}}" method="post">
                <button type="submit">Prenota</button>
            </form>
        </div>

        <hr>

    </div>

</body>

</html>