<!DOCTYPE html>
<html>

<head>
    <title>Le mie prenotazioni</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <h1>Le mie prenotazioni</h1>

    <div th:if="${#lists.isEmpty(prenotazioni)}">
        <p>Non hai ancora prenotazioni.</p>
    </div>

    <div th:if="${!#lists.isEmpty(prenotazioni)}">
        <div th:each="p : ${prenotazioni}">
            <h3 th:text="${p.corso.nome}">Nome Corso</h3>
            <p>Prenotato il: <span
                    th:text="${#temporals.format(p.dataOra, 'dd/MM/yyyy HH:mm')}">01/01/2026</span></p>

            <form th:action="@{'/utente/prenotazioni/cancella/' + ${p.id}}" method="post">
                <button type="submit" class="btn-cancella"
                    onclick="return confirm('Sei sicuro di voler cancellare questa prenotazione?');">
                    Disdici Prenotazione
                </button>
            </form>

            <hr>
        </div>
    </div>

</body>

</html>