<!DOCTYPE html>
<html>

<head>
    <title>Profilo Utente</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <h1>Profilo Utente</h1>


    <p>
        <strong>Nome:</strong>
        <span th:text="${utente.nome}"></span>
    </p>

    <p>
        <strong>Cognome:</strong>
        <span th:text="${utente.cognome}"></span>
    </p>

    <p>
        <strong>Abbonamento:</strong>
        <span th:if="${abbonamento != null and abbonamento.tipoDiAbbonamento != null}"
            th:text="${abbonamento.tipoDiAbbonamento.nome}">
        </span>
        <span th:unless="${abbonamento != null and abbonamento.tipoDiAbbonamento != null}">
            Nessun abbonamento
        </span>
    </p>

    <a th:href="@{/utente/prenota-corsi}">
        Prenota corsi
    </a>

    <a th:href="@{/utente/prenotazioni}">
        Le mie prenotazioni
    </a>

    <a th:href="@{/utente/mie-schede}">
        Le mie schede
    </a>


</body>

</html>