<!DOCTYPE html>
<html>
<head>
    <title>Esercizi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>

<h1>Elenco esercizi</h1>

<div th:if="${#lists.isEmpty(esercizi)}">
    <p>Nessun esercizio presente</p>
</div>

<table th:if="${!#lists.isEmpty(esercizi)}" border="1">

    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="e : ${esercizi}">
            <td th:text="${e.nome}"></td>
        </tr>
    </tbody>

</table>

<a th:href="@{'/esercizi/new'}"> Aggiungi esercizio</a>
<a th:href="@{'/'}"> Torna alla home</a>

</body>
</html>