<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Calendario settimanale corsi</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>

<body>

    <h1>Calendario settimanale corsi</h1>

    <table>
        <thead>
            <tr>
                <th>Lunedì</th>
                <th>Martedì</th>
                <th>Mercoledì</th>
                <th>Giovedì</th>
                <th>Venerdì</th>
                <th>Sabato</th>
                <th>Domenica</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Lunedì')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Lunedì')}"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Martedì')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Martedì')}"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Mercoledì')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Mercoledì')}"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Giovedì')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Giovedì')}"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Venerdì')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Venerdì')}"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Sabato')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Sabato')}"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div th:each="c : ${corsi}" th:if="${c.weekdayOrario.containsKey('Domenica')}">
                        <div class="corso">
                            <div class="nome" th:text="${c.nome}"></div>
                            <div th:text="${c.weekdayOrario.get('Domenica')}"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>