<!DOCTYPE html>
<html>

<head>
    <title>Lista Corsi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <h1>Lista Corsi</h1>

    <div th:each="corso : ${corsi}">

        <h2 th:text="${corso.nome}"></h2>

        <p>
            <strong>Descrizione:</strong>
            <span th:text="${corso.descrizione}"></span>
        </p>

        <p>
            <strong>Livello:</strong>
            <span th:text="${corso.livello}"></span>
        </p>

        <p>
            <strong>Istruttore:</strong>

            <span th:text="${corso.istruttore.nome}"></span>

            <span th:text="${corso.istruttore.cognome}"></span>
        </p>

        <a th:href="@{'/corsi/' + ${corso.id} + '/commenti'}">Mostra recensioni degli utenti</a>
        <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{'/admin/corsi/' + ${corso.id} + '/edit'}">Modifica</a>
        <form th:action="@{/admin/corsi/{id}/delete(id=${corso.id})}" method="post"
            onsubmit="return confirm('Vuoi davvero eliminare questo corso? Verranno eliminate anche tutte le prenotazioni associate.')">

            <button type="submit">Elimina</button>
        </form>

        <hr>

    </div>

    <h2>
        <a href="/corsi/calendario">Calendario settimanale dei corsi</a>
    </h2>

    <h2>
        <div sec:authorize="hasAnyAuthority('ADMIN')">
            <a th:href="@{'/admin/corsi/new'}">Aggiungi un nuovo corso</a>
        </div>
    </h2>

</body>

</html>